<!DOCTYPE html>
<html>
<head>
    <title>API information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/dashboard/">Dashboard</a>
        <a href="/API/">API information</a>
    </div>
</body>

<h1>Information source:</h1>

<p1>

The UK Flood Monitoring API provides access to flood monitoring data from the 
Environment Agency. The API provides data on river levels, flood warnings, and flood alerts.
The information can be accessed 
  <a href="https://environment.data.gov.uk/flood-monitoring/doc/reference#individual-measure" target="_blank" rel="noopener noreferrer">here</a>.
</p1>
</html>
